<div mat-dialog-title>Employee Form</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input type="text" matInput placeholder="Ex. Deepak" formControlName="firstname"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" placeholder="Ex. Yadav" formControlName="lastname"/>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. Deepak@gmail.com" formControlName="email"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Date of birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob"/>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-radio-group aria-label="Select an option" formControlName="gender">
        <mat-label>Gender</mat-label>
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
        <mat-radio-button value="other">Other</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Qualification</mat-label>
        <mat-select formControlName="education">
          <mat-option *ngFor="let item of education" [value]="item">{{
            item
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Company</mat-label>
        <input matInput type="text" placeholder="Ex. Google" formControlName="company"/>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Experiance</mat-label>
        <input type="text" matInput placeholder="Ex. 2" formControlName="exp"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Package</mat-label>
        <input matInput type="text" placeholder="Ex. 10.5L" formControlName="package"/>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button color="primary" type="submit">{{data? 'Update' : 'Save'}}</button>
    <button mat-raised-button color="warn" type="button" [mat-dialog-close]="false">Cancel</button>
  </div>
</form>
